.logo {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 2%;
  left: 4%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* To separate chat-box and input-group */
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  font-family: 'Roboto', sans-serif;
}

.chat-boxes-container {
  flex-grow: 1;
  overflow-y: auto; /* allow scrolling */
  padding: 32px;
  position: fixed;
  bottom: 13%;
  top: 7%;
  right: 2%;
  left: 2%;
}

.chat-box {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 32px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed; /* Use 'fixed' instead of 'absolute' to position it in the middle of the viewport */
  left: 50%; /* Center the element horizontally */
  top: 90%; /* Center the element vertically */
  transform: translate(-50%, -50%); /* This offsets the element's own dimensions to ensure it's truly centered */
  width: calc(100% - 50px); /* Subtract 50px from the full width */
  max-width: 1200px; /* This is an example, adjust it to fit your needs */
  z-index: 1;
  margin-top: 20px; /* Add this line */

}

.input-group form {
  display: flex; /* Add this line */
  width: 100%; /* Add this line */
}

.input-group input {
  flex-grow: 1;
  height: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.input-group button {
  margin-left: 0.5rem;
  background-color: #1a73e8;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.message-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 16px;
}
